<!DOCTYPE html>
<html class="has-navbar-fixed-top" lang="<%= I18n.locale %>">
  <head>
    <title>Jalappeno</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render 'layouts/meta_tags' %>

    <%= favicon_link_tag 'favicons/favicon-64.png', sizes: '32x32' %>
    <%= favicon_link_tag 'favicons/favicon-48.png', sizes: '32x32' %>
    <%= favicon_link_tag 'favicons/favicon-32.png', sizes: '48x48' %>
    <%= favicon_link_tag 'favicons/favicon-16.png', sizes: '64x64' %>

    <link rel="preload" as="style" href="<%= stylesheet_url 'loader' %>">
    <%= stylesheet_link_tag 'loader', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- Load application.css in background while the loader animates -->
    <link rel="preload" as="style" href="<%= stylesheet_url 'application' %>">
    <script>
      let link = document.createElement('link')
      link.rel = 'stylesheet'
      link.type = 'text/css'
      link.href = "<%= stylesheet_url 'application' %>"

      link.setAttribute('media', 'all')
      link.setAttribute('data-turbolinks-track', 'reload')

      document.head.appendChild(link)
    </script>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/loader' %>
    <%= render 'layouts/cookie_notice' %>
    <%= render 'layouts/navbar_landing' %>
    <%= yield %>
    <%= render 'layouts/analytics_tag' %>
  </body>
</html>
